@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

#bejelenkezés-szekcio {
    text-align: center;
    padding: 10px 0;
}

#bejelenkezés-szekcio h2 {
    margin-bottom: 20px; 
}

#login-nev, #login-jelszo {
    width: 65%;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: var(--main-text);
    outline: none;
    transition: border-color 0.3s ease;
    margin-bottom: 15px;


}

#id-nev:focus, #login-jelszo:focus {
     border-color: var(--plus-btn);
    
}

#login-gomb {
     background-color: var(--plus-btn);
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    margin: 5px;

}

#login-gomb:hover {
    background-color:  var(--complete);
}



